* {
  padding: 0;
  margin: 0;
  box-sizing: content-box !important;
  font-family: "Balthazar", serif;
}

body {
  height: 100vh;
  background-color: #ECA08B;
  background-image: url(./assets/fulimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
  padding-right: 11px;
  background-color: transparent;
  border-bottom: 8px solid rgb(125, 44, 44);
  background-color: white;
  position: sticky;
  background-color: #d9d9d9;
}

nav div img {
  margin-left: 30px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50px;
  gap: 30px;
  font-size: 25px;
  letter-spacing: 0.5px;
  padding: 5px;
}

li {
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: #7e2935;
  font-weight: bolder;
}

li :hover {
  border-bottom: 3px solid red;
  cursor: pointer;
}

UL :hover {
  scale: 1.1;
  transition: 4ms;
  color: red;
}

.name-Restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 603px;
font-weight: 100;
}


.name-Restaurant h1 {
  color: white;
  font-size: 102px;
}

.buttonchanges {
  display: flex;
  align-items: center;
  gap: 25px;
}
.buttonchanges button {
  cursor: pointer;
  padding: 24px;
  border: none;
  margin-top: 15px;
  width: 74%;
  font-size: 18px;
  border-radius: 10px;
  background-color: #7e2935;
  color: white;
}


 .b1 :hover {
  scale: 1.1;
  transition: 4ms;
 
}

.b2 button {
  background-color: white;
  color: #7e2935;
}

.b2 :hover {
  scale: 1.1;
  transition: 4ms;
 
}

.menu{
  padding-top: 100px;
  background-color: #d9d9d9;
}

.row .col-md-4 {
  width: 29%;
} 

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30;
}

div.card.mb-4 img {
height: 250px;
}

.container h1 {
  display: flex;
  justify-content: center;
  color: #F34213;
  padding-bottom: 30px;
  border-bottom: 3px solid #7e2935;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #BBB8B2;
}

.card-text-p {
  color: #F34213;
}

body {
  font-family: 'Roboto', sans-serif;
}

.about-us {
  background-color: rgb(236 236 236);
  padding: 50px 0;
}

.about-us h2, .about-us h3, .about-us p {
  margin: 0;
}

.about-us h2 {
  font-size: 3.5rem;
  color:#7e2935;
  margin-bottom: 2rem;
  font-family: copperplate, serif;
Font-weight: 500;
Line-height: 46.8px;
}

.about-us h3 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  font-family: copperplate, serif;
  Font-weight: 500;
}

.about-us p {
  color: #040404;
  line-height: 1.6;
  font-size: 19px;
}

.about-us img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.row.align-items-center {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-between;

}

#contact h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #7e2935;
  font-size:40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div .get-in-touch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
  padding: 5px;
  width: 54%;
  margin: 20px;
}

div .my-contact-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 40px;
  width: 50%;
  background-color: #797171;
  color: #ffffff;
  margin: 20px;
  align-items: center;
}


form input ,button{
  padding: 16px;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  width: 410px;
  margin-bottom: 7px;
} 
button {
    cursor: pointer;
    padding: 19px;
    border: none;
    margin-top: 30px;
    WIDTH: 91%;
    background-color: #7e2935;
    color: white;
}

footer {
  background-color: #333;
}

footer p {
  margin: 0;
  color: #fff;
}

footer a {
  color: #f8b400;
}

footer a:hover {
  color: #f0a500;
}